@font-face {
  font-family: printClearly;
  src: url(PrintClearly.otf);
}

* {
  box-sizing: border-box;
  font-family: printClearly;
  margin: 0;
}

@media only screen and (min-width: 1000px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: row;
    height: fit-content;
    background-color: rgba(58, 58, 58, 0);
    font-size: 20pt;
  }

  .nav ul {
    display: inline-flex;
    list-style: none;
    margin: 20px 0;
  }

  .navbtnMB {
    display: none;
  }

  #homebtn {
    display: block;
    text-shadow: 0 0 15px white;
    text-decoration: none;
    color: white;
    padding: 20px 40px;
  }

  #homebtn:hover {
    background-color: rgb(37, 94, 109);
    transition: background-color 1s;
  }

  .nav ul a {
    text-decoration: none;
    text-shadow: 0 0 15px white;
    color: white;
    padding: 20px 40px;
  }

  .nav ul a:hover {
    background-color: rgb(37, 94, 109);
    transition: background-color 1s;
  }

  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: fit-content;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 999px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: column;
    height: fit-content;
    width: 100vw;
    background-color: rgba(58, 58, 58, 0.2);
    font-size: 40pt;
  }

  .nav ul {
    display: none;
    list-style: none;
    line-height: auto;
  }

  #homebtn {
    display: block;
    text-shadow: 0 0 15px white;
    text-decoration: none;
    color: white;
    padding: 15px;
    width: 100vw;
    text-align: center;
  }

  #homebtn:hover {
    background-color: rgb(37, 94, 109);
    transition: background-color 1s;
  }

  .navbtnMB {
    display: block;
    text-shadow: 0 0 15px white;
    text-decoration: none;
    color: white;
    padding: 15px;
    width: 100vw;
    text-align: center;
  }

  .navbtnMB:hover {
    background-color: rgb(37, 94, 109);
    transition: background-color 1s;
  }

  .nav ul a {
    text-decoration: none;
    text-shadow: 0 0 15px white;
    color: white;
    padding: 20px 40px;
    margin-right: 1000px;
  }

  .nav ul a:hover {
    background-color: rgb(37, 94, 109);
    transition: background-color 1s;
  }

  .container {
    height: 100vh;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
